.nav_item {
    list-style: none;
    font-size: 28px;
    margin: 30px 15px;
}
.nav_link {
    text-decoration: none;
    color: #1f7aff;
}
.nav_link:hover {
    font-size: 30px;
    text-shadow: 0 0 20px white;
}
.nav h2 {
    margin: 50px 15px;
    font-size: 34px;
}
.nav ul {
    padding: 20px 40px;
}

@media screen and (max-width: 600px) {
    .nav h2 {
        margin: 14px 15px;
        font-size: 30px;
    }
    .nav_item {
        margin: 20px 15px;
    }
    .nav ul {
        margin: 0;
        padding: 5px 40px;
    }
}
@media screen and (max-width: 400px) {
    .nav h2 {
        margin: 30px 15px;
        font-size: 30px;
    }
    .nav_item {
        margin: 30px 15px;
    }
}